@inherits ComonTimerBase
<h3>ComonTimer</h3>

@*<div style="max-width: 400px;">*@
        <MudChip Icon="@Icons.Custom.Uncategorized.Radioactive" Label="true" Color="Color.Warning" Style="color:black;">Current Payout</MudChip>
        <MudItem xs="12" Class="mb-2 pt-2 pb-2">
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">Multiplier: <MudText Typo="Typo.h4"> @Multiplier X</MudText></MudAlert>
        </MudItem>
@*</div>*@
