@inject IJSRuntime jsRuntime
@using System.Collections.Generic
<h3>GraphChart</h3>
<div id="chart"></div>

@code {
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        this.StateHasChanged();
    //    }
    //}
}
