
@using RedEye.FakeGambling.Data;
@inherits LineChartBase

<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series"XAxisLabels="@XAxisLabels"  Width="100%" Height="350" ChartOptions="options"></MudChart>
</div>
@code {

}