@page "/Game/MultiCreateOrJoin"
@using RedEye.FakeGambling.Data;
@inject HubService _hubService
@inject NavigationManager _navMagager
@inject IGameService _game
<MudGrid>
    <MudItem xs="12" md="1">
        <MudRadioGroup @bind-SelectedOption="@SelectedOption">
            <MudRadio Option="@("Create")" Color="Color.Primary">Create Lobby</MudRadio>
            <MudRadio Option="@("Join")" Color="Color.Secondary">Join Lobby</MudRadio>
        </MudRadioGroup>
    </MudItem>
    <div class="d-flex align-center">
        <MudButton Variant="Variant.Outlined" OnClick="SetLobby"> @SelectedOption</MudButton>
        <MudText Class="ml-4">Selected Option:</MudText>
    </div>
</MudGrid>
@code {
    bool lobbyType;
    public string SelectedOption { get; set; } = "Create";
    public void SetLobby()
    {
        _navMagager.NavigateTo("/Game/Multi");
        _game.isCreatePlayer = SelectedOption.Equals("Create") ? true : false;
    }
}
