@page "/Game/MultiCreateOrJoin"
@using RedEye.FakeGambling.Data;
@inject IHubService _hubService
@inject NavigationManager _navMagager
@inject IGameService _game

<MudGrid Class="d-flex justify-center py-2 px-1 mt-6">
    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 50vh;">
        <div class="d-flex flex-column mud-width-full">
            @*<MudItem xs="12" md="1">*@
                <MudRadioGroup Class="d-flex justify-center py-2 px-1 mt-6" @bind-SelectedOption="@SelectedOption">
                    <MudRadio Option="@("Create")" Color="Color.Primary">Create Lobby</MudRadio>
                    <MudRadio Option="@("Join")" Color="Color.Secondary">Join Lobby</MudRadio>
                </MudRadioGroup>
            @*</MudItem>*@
            <MudButton Class="d-flex justify-center py-2 px-1 mt-6" Variant="Variant.Outlined" OnClick="SetLobby"> @SelectedOption</MudButton>
        </div>
    </MudContainer>

</MudGrid>
@code {
    bool lobbyType;
    public string SelectedOption { get; set; } = "Create";
    public void SetLobby()
    {
        _navMagager.NavigateTo("/Game/Multi");
        _game.isCreatePlayer = SelectedOption.Equals("Create") ? true : false;
    }
}
