@inherits TimerComponentBase
<h3>TimerComponent</h3>

@*<div style="max-width: 400px;">*@
        <MudAlert Severity="Severity.Info" AlertTextPosition="AlertTextPosition.Start">GameStartsIn:  @GameStartsIn</MudAlert>
        <MudItem xs="12" Class="mb-2 pt-2 pb-2">
            <MudAlert Severity="@OnlineMultiplierColor" Variant="Variant.Filled">Online Multiplier:<MudText Typo="Typo.h4"> @OnlineMultiplier X</MudText></MudAlert>
        </MudItem>
@*</div>*@
